@media screen and (max-width: 950px) {
    .container {
        width: 100vw;
        height: 100vh;
    }

    section {
        position: relative;
    }

    section .menu {
        transform: translateX(-100%);
        position: absolute;
        width: 300px;
        z-index: 1000;
        background-color: var(--bg);
        transition: transform 0.3s ease;
    }

    section .menu.show {
        transform: translateX(0%);
    }

    section .songs {
        width: 100%;
        border-top-left-radius: 10px;
    }

    footer {
        height: 15%;
        flex-direction: column;
        align-items: start;
        gap: 15px;
    }

    footer .controles,
    footer .tracker {
        margin: unset;
        width: 100%;
    }

    footer .vol {
        margin-top: 20px;
        width: 100px;
    }

    section {
        height: 80%;
    }

    footer #poster {
        width: 30px;
        height: 30px;
    }

    footer .controles .title {
        font-size: 0.9em;
    }

    footer .controles {
        font-size: 0.9em;
        position: relative;
    }

    footer .controles .icons {
        font-size: 1.4em;
        position: absolute;
        right: 20px;
    }
    
    .songs nav img {
        position: absolute;
        top: 25px;
        right: 0;
    }
    
    .songs nav {
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .songs nav .search {
        width: 60%;
        font-size: 0.7em;
    }
    
    .songs nav .search .bi {
        left: 10px;
    }
    
    .menu .header .bi {
        display: inline-block;
    }

    .mobile-hamb {
        display: flex;
    }
    
    .songs nav ul li {
        font-size: 0.6em;
    }
    .songs{
        border-radius: unset;
    }
    footer .icons .control-icons-inner{
        margin: unset;
    }
}

@media screen and (max-width: 320px) {
    footer .icons .control-icons-inner{
        gap: unset;
    }
    footer .controles .icons {
        font-size: 1.4em;
        right: -5px;
    }
}